mixin input(label, input, styles)
	.input
		if (input === "checkbox")
			input(type=input)
			if (styles === "")
				label(class=`${input}-label`)=label
				a.forgot Bạn quên mật khẩu ?
			else 
				label(class=`${input}-label`)=label
		else if (input === "button")
			button(class=`${styles}-submit`)
				if (label === "Đăng ký")
					a(href="/signin.html", class="center")=label
				else
					a(href="/login.html", class="center")=label
		else 
			if (styles === "asterisk") 
				label(class=`${input}-label`)=label
					span(class=styles) *
			else
				label(class=`${input}-label`)=label
			input(type=input, class=input)
		
