mixin newMedium(src, title, content)
	.new
		.new__img
			img(src=src)
		.new__content
			.date
				p Thứ 7, ngày 31, tháng 12, năm 2021
			.title.text-ellipsis-2line
				p= title
			.content.text-ellipsis-2line
				p= content
			.read-more
				a Đọc tiếp
mixin newLarge(src, title, content)
	.new
		.new__img
			img(src=src)
		.new__content
			.date
				p Thứ 7, ngày 31, tháng 12, năm 2021
			.title.text-ellipsis-2line
				p= title
			.content.text-ellipsis-2line
				p= content
			.read-more
				a Đọc tiếp
mixin newSmall(src, title, content)
	.new
		.new__img
			img(src=src)
		.new__content
			.date
				p Thứ 7, ngày 31, tháng 12, năm 2021
			.title.text-ellipsis-2line
				p= title
			.content.text-ellipsis-2line
				p= content
			.read-more
				a Đọc tiếp