mixin newMedium(src, title, content)
	.newMedium
		.newMedium__img
			img(src=src)
		.newMedium__content
			.date
				p Thứ 7, ngày 31, tháng 12, năm 2021
			.title.text-ellipsis-2line
				p= title
			.content.text-ellipsis-2line
				p= content
			.read-more
				a Đọc tiếp
mixin newLarge(title, src, content)
	.newLarge.py-5.pt-0.px-3
		.newLarge__title
			p= title
			.pre-new.d-flex.flex-wrap.py-3
				.icon-text.text-grey-100
					+icon('far fa-calendar-minus')(class="text-green-100")
					span 20/12/2015
				.icon-text.text-grey-100
					+icon('far fa-clock')(class="text-green-100")
					span 11:20:00 AM
				.icon-text.text-grey-100
					+icon('far fa-comment-dots')(class="text-green-100")
					span 0 Bình luận
		.newLarge__img
			a(href="/details-new.html")
				img(src=src)
		.newLarge__content.py-4.pb-0.text-grey-100
			p= content
mixin detailsNew()
	.detailsNew.py-5.pt-0.px-3
		.detailsNew__title
			p Cách bố trí hoa chậu trước cửa ấn tượng ngay lần đầu tiên
			.pre-new.d-flex.flex-wrap.py-3
				.icon-text.text-grey-100
					+icon('far fa-calendar-minus')(class="text-green-100")
					span 20/12/2015
				.icon-text.text-grey-100
					+icon('far fa-clock')(class="text-green-100")
					span 11:20:00 AM
				.icon-text.text-grey-100
					+icon('far fa-comment-dots')(class="text-green-100")
					span 0 Bình luận
		.detailsNew__img
			img(src='../assets/images/new-4.png')
		.detailsNew__content.py-4.pb-0.text-grey-100
			p
				| Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khzi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!
				br 
				br
				| 7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng, Những mẫu cây để bàn đang được giới văn phòng ưa chuộng, cây cảnh văn phòng để bàn thông dụng, những cây cảnh được giới văn phòng ưa chuộng
				br 
				br 
				| Cây bạch mã hoàng tử để bàn có chiều cao trung bình từ 20 – 40cm, dáng đẹp, lá cây màu xanh đậm với những đường vân vàng nhạt mọc đối xứng nhau trông rất sang trọng và lịch lãm.
				br
				br
				| Loại cây này ưa bóng, chịu được nhiệt độ thấp lại có khả năng tạo ẩm và thanh lọc không khí nên rất thích hợp đặt trong văn phòng làm việc có máy lạnh.
				br
				br
				| Cây bạch mã hoàng tử thường được chọn để đặt trên bàn làm việc của sếp, bàn nhỏ ở phòng tiếp khách hoặc bàn làm việc của các đấng mày râu.
				br
				br
				| 2. Cây trầu bà đế vương
				br
				br
				| Cây trầu bà đế vương tượng trưng cho quyền uy, phong thái dẫn đầu nên thích hợp để đặt trên bàn làm việc của người lãnh đạo, quản lý doanh nghiệp.
				br
				br
				|  Lá cây trầu bá đế vương khá to, dày, hơi bóng, đường gân rõ ràng, có hình dạng như hình trái tim, xòe rộng hướng lên trên trông rất bệ nghễ và cao sang.
				br
				br
				| Tùy thuộc vào sở thích cá nhân và thiết kế chủ đạo của không gian phòng làm việc, bạn có thể chọn loại trầu bà đế vương xanh, trầu bá đế vương vàng hoặc trầu bà đế vương đỏ.
				br
				br
		.detailsNew__img
			img(src='../assets/images/new-5.png')
		.detailsNew__content.py-4.pb-0.text-grey-100
			p
				| Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khzi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!
				br
				br
				| 7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng, Những mẫu cây để bàn đang được giới văn phòng ưa chuộng, cây cảnh văn phòng để bàn thông dụng, những cây cảnh được giới văn phòng ưa chuộng
				br
				br
		.detailsNew__comment.py-4
